 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 153px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 34px auto 53px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#0885f9, #0885f9);
}

.u-section-2 .u-sheet-1 {
  min-height: 2542px;
}

.u-section-2 .u-shape-1 {
  height: 251px;
  width: 259px;
  margin: 314px auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 193px;
  height: 379px;
  background-image: none;
  margin: -461px 449px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 547px;
  height: 367px;
  margin: -317px auto 0 75px;
}

.u-section-2 .u-group-1 {
  width: 507px;
  min-height: 297px;
  background-image: none;
  height: auto;
  margin: -347px 32px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 2px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 8px 0 0;
}

.u-section-2 .u-shape-3 {
  width: 492px;
  height: 447px;
  margin: 213px auto 0 -124px;
}

.u-section-2 .u-shape-4 {
  height: 251px;
  width: 259px;
  margin: -349px 0 0 auto;
}

.u-section-2 .u-shape-5 {
  width: 193px;
  height: 379px;
  background-image: none;
  margin: -484px auto 0 414px;
}

.u-section-2 .u-image-2 {
  width: 547px;
  height: 367px;
  margin: -336px 106px 0 auto;
}

.u-section-2 .u-group-2 {
  width: 474px;
  min-height: 329px;
  background-image: none;
  height: auto;
  margin: -83px auto 0 305px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 2px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 8px 0 0;
}

.u-section-2 .u-shape-6 {
  width: 492px;
  height: 447px;
  margin: -111px -96px 0 auto;
}

.u-section-2 .u-shape-7 {
  width: 492px;
  height: 447px;
  margin: 159px auto 0 -33px;
}

.u-section-2 .u-shape-8 {
  width: 193px;
  height: 379px;
  background-image: none;
  margin: -755px auto 0 0;
}

.u-section-2 .u-shape-9 {
  height: 251px;
  width: 259px;
  margin: -516px auto 0 440px;
}

.u-section-2 .u-image-3 {
  width: 547px;
  height: 367px;
  margin: -180px auto 0 59px;
}

.u-section-2 .u-group-3 {
  width: 474px;
  min-height: 298px;
  background-image: none;
  height: auto;
  margin: -124px 234px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 2px;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 8px 0 0;
}

.u-section-2 .u-shape-10 {
  height: 251px;
  width: 259px;
  margin: 75px auto 0 432px;
}

.u-section-2 .u-shape-11 {
  width: 193px;
  height: 379px;
  background-image: none;
  margin: -116px 0 0 auto;
}

.u-section-2 .u-image-4 {
  width: 547px;
  height: 367px;
  margin: -462px 75px 0 auto;
}

.u-section-2 .u-group-4 {
  width: 474px;
  min-height: 247px;
  background-image: none;
  height: auto;
  margin: -167px auto 60px 96px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 2px;
}

.u-section-2 .u-text-7 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-2 {
    margin-left: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2522px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 347px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 362px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: -342px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-shape-5 {
    margin-left: 347px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 362px;
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    margin-top: -78px;
    margin-left: 66px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-9 {
    margin-left: 281px;
  }

  .u-section-2 .u-image-3 {
    width: 540px;
    height: 362px;
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    margin-top: -119px;
    margin-right: 66px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-10 {
    margin-left: 281px;
  }

  .u-section-2 .u-image-4 {
    width: 540px;
    height: 362px;
    margin-right: 0;
  }

  .u-section-2 .u-group-4 {
    margin-top: -162px;
    margin-left: 66px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1986px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 147px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 228px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -208px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 1px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-5 {
    margin-left: 147px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 228px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-top: 56px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-shape-6 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-7 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-9 {
    margin-left: 81px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 228px;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-top: 15px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-shape-10 {
    margin-left: 81px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 228px;
  }

  .u-section-2 .u-group-4 {
    width: 340px;
    margin-top: -28px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 161px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 48px auto;
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 684px;
}

.u-section-4 .u-shape-1 {
  width: 358px;
  height: 573px;
  margin: 19px 0 0 auto;
}

.u-section-4 .u-text-1 {
  margin: -592px 29px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    margin-top: 44px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -617px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 194px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -767px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 372px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -945px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1435px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    margin-top: 802px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -1375px;
  }
}