 .banner {
    background: url("backgroundhome.jpg")
      no-repeat center center;
    background-size:cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color:black;
  }

  .produkkoperasi{
    font-size: x-large;
  }

  .produkbir{
   color: white;
  }

  .kartubir{
    color: black;
  }

  .crop-img {
    object-fit: cover;
  }

  .kontak {
    background: url("kontakkami.jpg") no-repeat
      center center;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color:lightblue;
  } 
