.home{
  font-size:small
}
.banner {
    background: url("backgroundhome.jpg")
      no-repeat center center;
    background-size:cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color:black;
  }
  .profil{
    background-color: black;
    font-size:small;
    text-align: center;
    font-style: italic;
    color: white;
  }
  .produkkoperasi{
    background-color:darkblue;
    font-size:small;
    text-align:center;   
    font-style: initial;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }
  .produkbir{
    background-color:white;
    font-size: small;
   color:black;
  }
  .kartubir{
    color: white;
  }

  
  .crop-img {
    background-color: black;
    object-fit: cover;
  }
  
  
  .kontak {
    background: url("kontakkami.jpg") no-repeat
      center center;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color:lightblue;
  } 